/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline black;
}*/
.nav-right,.nav-bottom-right{
  float:right;
  padding-left:30px;
  margin-left:10px;
  text-align:center;
}
#sign{
  background:#4d88ff;
  color:white;
}
.center{
  text-align: center;
}
.img_center{
  display: block;
  margin-left: 350px;
  padding-top:150px;
  padding-bottom: 0px;
  margin-right: auto;
  width: 40%;
}
.search{
  background: url(search.png) no-repeat scroll 7px 7px;
  padding-left:30px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:rgba(0,0,0,.54);
  padding-left: 27px;
  background-color: rgba(209, 209, 209, 0.575);
  color:rgba(48, 48, 48, 0.3);
  padding:10px;
}
.line{
  border:rgb(61, 61, 61);
}